* {
    box-sizing: border-box;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e9e9e9;
    text-align: center;
}

.calc-part {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.argument {
    width: 50px;
}

.operator {
    width: 30px;
    margin: 0 5px;
    padding: 5px;
}

input {
    height: 30px;
    padding: 5px 10px;
}

input[type="submit"] {
    display: block;
    margin: 10px auto 0;
    background-color: transparent;
    border: 1px solid #e9e9e9;
    color: #2e2e2e;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

input[type="submit"]:hover {
    background-color: #e9e9e9;
}

.operator label {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.operator label:hover {
    background-color: #e9e9e9;
}

.operator input {
    display: none;
}

.operator input:checked + label {
    background-color: #e9e9e9;

}